# Hydra parameters, can be passed via commandline when running main.py

# General
image_size: 64 
num_channels: 1     

# Model 
model: vit          # cnn, vit or hybrid
pretrain: False 

# ViT specifics
patch_size: 8
depth: 4
embed_dim: 64
num_heads: 4

# Training 
num_classes: 6
batch_size: 16
cuda: True 
device: cpu
epochs: 10
lr: .0001

# FCN specifics
fcn_feature_dim: 64
combine_alpha: 0.5
combine_beta: 0.5
