# Hydra parameters, can be passed via commandline when running main.py

# General
image_size: 64 
num_channels: 1     

# Model 
model: fcn      # cnn, vit, fcn or hybrid
pretrain: False 
dataset_mode : ck_plus  #can be either all, ck_plus or affectnet 

# ViT specifics
patch_size: 8
depth: 32
embed_dim: 64
num_heads: 4

# Training 
num_classes: 6
batch_size: 16
cuda: True 
device: cuda
epochs: 10
lr: .0001

# FCN specifics
fcn_feature_dim: 256
combine_alpha: 0.1
combine_beta: 0.8

# augmentations specifics
probability: 0.5
min_area: 0.02
max_area: 0.10
min_aspect_ratio: 0.3
max_aspect_ratio: 3.0
rotation_angle: 25

#CSV Image Processing
mode: train #can be train, realtime_detection or process_csv, by default train
image_folder: 'RealTimeDemoAndImageCSV/TestImagesFolder'
output_csv: emotion_predictions.csv


# visualization
blur_size: 7